<div class="input-form">
    <input class="text" type="text" placeholder="Enter password here..." name="passwordInput" />
    <input class="text" type="text" placeholder="Enter URL to password input here..." name="urlInput" />
    <div class="btnn">
        <button id="add-pwd">Add Password</button>
    </div>
    
</div>