<form action="/dashboard" method="POST" class="input-form">
    <input class="text" type="text" placeholder="Enter password here..." name="passwordInput" />
    <input class="text" type="text" placeholder="Enter URL to password input here..." name="urlInput" />
    <button id="add-pwd">Add Password</button>
</form>