
<% if(typeof validError != 'undefined') { %>
    <% validError.forEach(error => { %>
      <li class="error-msg"><%= error.message %></li>  
    <% }); %>
<% } %>

<% if(typeof userExistsError != 'undefined') { %>
    <li class="error-msg"><%= userExistsError.message %></li>  
<% } %>