<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Saver</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="login-box">
        <h1 id="site-title">Password Saver</h1>
        <h4 id="site-subtitle">Never lose your password again...</h4>
        <br>
        <hr>
        <br>
        <section>
            <p class="user-action">Do you have an account: <a href="/login" id="action-btn">Login Now</a></p>
            <p  class="user-action">Don't have an account: <a href="/signup" id="action-btn">Signup Now</a></p>
        </section>
        <%- include('./partials/footer'); %>
    </div>
</body>

</html>