<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Saver | Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="login-box">
        <h2>Login to your secure account</h2>
            <%- include('./partials/messages'); %>
        <form action="/login" method="POST">
            <div class="user-box">
                <input type="text" placeholder="Enter your email here" name="username">
            </div>
            <div class="user-box">
                <input type="password" placeholder="Enter your password here" name="password">
            </div>
            <div class="user-btn">
                <button type="submit" id="submit">Login</button>
            </div>
            <p  id="accessibility-mssg">Don't have an account? <a href="/signup">Signup here.</a></p>
            <p id="accessibility-mssg"><a href="/">Home</a></p>
        </form>
    </div>
</body>


</html>